/* Universal */
h1, h2, h3, h4, a, p {
  color: #2e313c;
}

.home-product-card {
  height: 18.75rem;
  width: 97%;
  display: block;
  margin: auto;
  position: fixed;
  z-index: 2;
}

.product-card-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.product-card-header {
  text-align: center;
}

.product-card-header-link {
  text-decoration: none;
  color: black;
}

.product-card-price {
  text-align: center;
  color: gray;
}

/* Universal Accessibility */
:focus {
  outline: 2px bold black;
}

a.skip-header {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-header:focus {
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 0 35%;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  z-index: 999;
}

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus {
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 0 35%;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  z-index: 999;
}

a.skip-footer {
  left: -999px;
  position: absolute;
  text-decoration: none;
  color: white;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-footer:focus {
  left: auto;
  top: auto;
  width: 30%;
  height: 37px;
  overflow: auto;
  margin: 0 35%;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  z-index: 999;
}

/* Universal Header */
.header-img {
  position: absolute;
  height: 175px;
  top: 10px;
  z-index: 1;
}

.upton-header {
  position: absolute;
  left: 240px;
  top: 60px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .header-img {
    height: 125px;
  }

  .upton-header {
    left: 190px;
  }
}

.top {
  height: 37px;
}

.person-fill-css {
  display: none;
}

.person-link:hover .person-css {
  display: none;
}

.person-link:hover .person-fill-css {
  display: inline;
}

.bag-fill-css {
  display: none;
}

.bag-link:hover .bag-css {
  display: none;
}

.bag-link:hover .bag-fill-css {
  display: inline;
}

.header-black {
  color: #2e313c;
}

@media screen and (max-width: 768px) {
  .nav-item {
    text-align: right;
  }
}

.dropdown-menu-cart {
  width: 400px;
}

/* Universal Home */
.home-product-row {
  padding: 3% 10% 2%;
}

.home-items-header {
  text-align: center;
  padding-top: 5%;
}

.sm-display-carousel {
  display: none;
}

@media screen and (max-width: 768px) {
  .sm-display-carousel {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .md-lg-display-carousel {
    display: none;
  }
}

.nav-header {
  color: white;
}
/* Footer Universal */
#footer {
  min-height: 315px;
  background-color: #4169e1;
  padding: 2% 10%;
}

.NDS-b {
  color: #fff;
}

.NDS {
  color: rgba(255, 255, 255, .5);
}

.footer-nav {
  color: #fff;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.footer-nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
}

.footer-nav-link:hover {
  color: rgba(255, 255, 255, .75);
  text-decoration: underline;
}

.footer-nav-text {
  color: rgba(255, 255, 255, .5);
  display: inline;
}

.footer-nav-contact-li {
  color: rgba(255, 255, 255, .85)
}

.footer-nav-copy-button {
  border: none;
  background-color: transparent;
}

.footer-sm {
  display: none;
}

@media (max-width: 768px) {
  .footer-md-lg {
    display: none;
  }

  .footer-sm {
    display: block;
  }
}

a[href^=tel] {
  color: rgba(255, 255, 255, .5);
  text-decoration: underline;
}

a[href^=tel]:hover {
  color: rgba(255, 255, 255, .75);
  text-decoration: underline;
}
/* Home Header */
#home-header-carousel {
  height: 450px;
}

.carousel-header {
  height: 28.125rem;
  width: 100%;
  background-color: #284b85;
}

.carousel-header-img {
  border: 0px !important;
}

/* New Items */
#new-items {
  min-height: 325px;
  padding: 0 2%;
}

/* Featured Items */
#featured-items {
  min-height: 325px;
  padding: 0 2%;
}

/* Frequently Bought */
#frequently-bought {
  min-height: 325px;
  margin: 0 2%;
}

/* Product Page */
#product-section {
  min-height: 500px;
  padding: 12% 10%;
}

@media screen and (max-width: 768px) {
  #product-section {
    padding: 20% 10% 10%;
  }
}

.image-indicators-container {
  height: 373px;
}

.image-indicators {
  width: 100%;
  height: auto;
  cursor: pointer;
  padding: 5% 0;
}

.product-img-indicator {
  padding: 2%;
}

.product-img {
  padding: 0 10%;
  width: 100%;
  height: auto;
}

.carousel-indicators {
    bottom: -50px;
}

.product-header {
  padding: 0 15%;
}

.product-forms {
  padding: 5% 19% 2.5% 15%;
}

.product-color-start {
  display: inline;
  padding-right: 1%;
}

.product-color {
  display: inline;
  padding: 0 3% 0 1%;
}

.product-color-button {
  height: 35px;
  width: 35px;
  background-color: #4169e1;
  border-radius: 50%;
  border: none;
}

.product-color-button:hover {
  background-color: rgba(65, 105, 225, .75);
}

/* Men's Page */
#items {
  padding: 12% 10% 10%;
}

@media screen and (max-width: 768px) {
  #items {
    padding: 20% 10% 10%
  }
}

.filters-h5 {
  font-weight: normal;
}

.filters-link {
  text-decoration: none;
}

.filters-link:hover {
  text-decoration: underline;
}

.filters-check {
  padding: 3% 0 3% 0;
}

.items-page-header {
  padding: 0 3% 5%;
}

@media screen and (max-width: 768px) {
  .items-page-header {
    padding-top: 9%;
  }
}

.item-page-product-card {
  padding: 7% 0;
}

.filters-popup-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .filters-popup-btn {
    display: block;
  }

  .filter-card-col {
    display: none;
  }
}

.modal-title {
  color: #2e313c;
}

/* Cart Mini Display Universal */

.mini-cart-display {
    width: 100%;
    max-height: 295px;
}

.cart-item-img-div {
    padding: 2%;
}

.mini-cart-item {
    max-height: 110px;
}

.mini-cart-item-text-header {
    font-size: 23px;
    text-decoration: none;
    color: #2e313c;
}

.mini-cart-item-text {
    line-height: .5;
    color: #2e313c;
}

.mini-cart-item-info {
    padding-top: 30px;
}

.mini-cart-item-price {
    font-size: 17px;
}

/* Cart Page */

#cart {
  padding: 12% 10% 10%;
}

@media screen and (max-width: 768px) {
  #cart {
    padding: 20% 10% 10%;
  }
}

.cart-item-img-div {
    padding: 2%;
}

.cart-item {
    padding: 2% 0;
}

.cart-item-header {
    text-decoration: none;
    color: #2e313c;
}

.cart-item-header:hover {
    text-decoration: underline;
    color: #2e313c;
}

.cart-item-text {
    line-height: .5;
}

.cart-item-info {
    padding-top: 30px;
}

.quantity-select-cart-item {
    margin-top: 90px;
}

.cart-item-price {
    font-size: 25px;
}

.remove-item-link {
    text-decoration: none;
}

.remove-item-link:hover {
    text-decoration: underline;
}

.remove-item-link-div {
    margin-top: 167px;
}

.price-card-text {
  font-size: 20px;
  color: #2e313c;
}

.price-card-price {
  color: #2e313c;
}

.cart-hr {
  margin: 0;
}

.cart-title {
  margin-bottom: 1rem;
}

.checkout-btn {
  padding: 5% 0;
}

.continue-shopping-btn {
  text-decoration: none;
}

.continue-shopping-btn:hover .continue-shopping-arrow {
  transform: translateX(-5px);
  transition: 100ms;
}

.coupon-code-header {
  color: #2e313c;
}

.coupon-code-input {
  padding: 3% 0;
}

.coupon-code-btn {
  padding: 6% 0;
}

.cart-update-btn {
  padding: 6% 0;
}

@media screen and (max-width: 768px) {
  .coupon-code-cart {
    padding-bottom: 3%;
  }

  .cart-update-btn {
    padding: 4%;
  }

  .coupon-code-btn {
    padding: 4%;
  }
}

.cost-card {
  padding: 5% 0;
}

.dropdown-item-edited {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item-edited:hover, .dropdown-item:focus {
  color: #1e2125;
}

.dropdown-item-edited:hover .dropdown-cart-link {
  text-decoration: underline;
}

.dropdown-cart-link {
  display: inline;
}

.icon-dropdown-css {
  display: inline;
}

.bag-link-sm {
  display: none;
}

@media screen and (max-width: 768px) {
  .bag-link-sm {
    display: block;
  }

  .bag-link-md-lg {
    display: none;
  }
}

/* Checkout Page */

#checkout-billing {
  padding: 12% 10% 10%;
}

@media screen and (max-width: 768px) {
  #checkout-billing {
    padding: 20% 10% 10%;
  }
}

.pickup-shipping-select {
  padding: 2% 0;
}

.checkout-h3 {
  padding: 2% 0 1%;
}

.checkout-hr {
  margin-top: 0;
}

.list-group-item-cart {
  padding: 0.5rem 0;
}

.list-item-price {
  background-color: #f5f5f5;
}

.place-order-btn-sm {
  display: none;
}

@media screen and (max-width: 768px) {
  .place-order-btn-md-lg {
    display: none;
  }

  .place-order-btn-sm {
    display: block;
  }
}
